@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
}

#container {
  background: #3c3c3c;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.character {
  background: #061d03;
  margin-bottom: 35px;
  border-radius: 8px;
  box-shadow: 1px 1px 10px #00c31e;
  border-radius: 20px;
  margin-top: 30px;
}

.character img {
  object-fit: cover;
  width: 100%;
  display: block;
  height: 300px;
  border-radius: 20px 20px 0 0;
}

.character-detail {
  text-align: center;
  padding: 10px 0 10px 0;
  color: #ffffff;
}

header{
  display: flex;
  justify-content: center;
  margin: 10px 0 10px 0;
  text-align: center;
  padding-top: 5px;

}

header h1, h2{
  font-size: 30px;
}

header h2{
  padding-top: 10px;
}

body{
  background: rgb(63,177,13);
background: linear-gradient(90deg, rgb(132, 244, 84) 0%, rgb(11, 229, 22) 50%, rgb(0, 169, 45) 89%);
}

